<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techmahdi.teachvocabulary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/favicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name="com.techmahdi.teachvocabulary.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.techmahdi.teachvocabulary.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

        </activity>
        <activity android:name="com.techmahdi.teachvocabulary.SignInActivity"></activity>
        <activity android:name="com.techmahdi.teachvocabulary.SignUpActivity" />
        <activity
            android:name="com.techmahdi.teachvocabulary.VocabularyGameActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.techmahdi.teachvocabulary.VocabularyListActivity"
            android:parentActivityName="com.techmahdi.teachvocabulary.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.techmahdi.teachvocabulary.RankListActivity"
            android:parentActivityName="com.techmahdi.teachvocabulary.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>